@charset "UTF-8";

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

form{
	width: 100%;
	height: 100px;
}
header{
	width: 100%;
	height: 100%;
}

form,div,header,main,footer{
	margin: 0;
	padding: 0;
}


#main_h1{
	margin: 0;
	padding: 0;
	font-style: oblique;
	height: 50%;
	width:100%;
	padding-left: 20px;
}

#btndiv{
	overflow:hidden;
	background-color: black;
	height: 50%;
	width: 100%;
	
}

nav{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#menubtn{
	display: none;
}

.gobtn{
	overflow: hidden;
	background-color: black;
	color: white;
	border: 0;
	height: 100%;
	font-size: 20px;
	font-family: fantasy;
	width: 10%;
	margin: auto;
}

.gobtn:hover {
	color: gray;
	cursor: pointer;
}

@media (max-width:660px){
	#menubtn{
		display: inline-block;
	}
	#mainbtn, #aboutbtn,#historybtn,#servicebtn{
		color: red;
		position: absolute;
		height: 50px;
		width: 80px;
		display: none;
	}
	#mainbtn{
		top: 100px;
	}
	#aboutbtn{
		top: 150px;
	}
	#historybtn{
		top: 200px;
	}
	#servicebtn{
		top: 250px;
	}

}


